{% extends 'base_template.html' %}

{% block layout %}
    <div class="container">
      <div class="hero-unit site-section-heading">
        <h2><i class="icon-cloud"></i> {% block title %}{% endblock %}</h2>

        <div class="quote">
          {% block sidebar %}{% endblock %}
        </div>

        <div class="btn-group">
          <a class="btn btn-primary btn-large" href="/about">About &raquo;</a>
          <a class="btn btn-primary btn-large" href="/leadership">Leadership</a>
<!--
          <a class="btn btn-primary btn-large" href="/people">People</a>
          <a class="btn btn-primary btn-large" href="/partners">Partners</a>
-->
          <a class="btn btn-primary btn-large" href="/culture">Culture</a>
          <a class="btn btn-primary btn-large" href="/contact">Contact Us</a>
<!--
          <a class="btn btn-primary btn-large" href="/join">Join Us!</a>
-->
        </div>
      </div>

      <div class="row">
        <div class="span12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}
