{% extends 'about_layout.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<p>The Hackerati exists because a few hackers found themselves with an unquenchable thirst to build cool and innovative stuff!</p>

<h2>Our Mission</h2>
<p>We quickly discovered that companies really need hackers... lots of them... more than they can easily find... to stay competitive in this increasingly connected and data-driven World! So we adopted an immediate mission to help address the shortage of qualified engineering talent that exists in the United States, today.</p>

<h2>Supply</h2>
<p>In order to meet future demand for engineering talent, we need to take a multi-faceted approach to transforming our supply of this talent, including producing more engineers and producing better engineers. This starts with encouraging more students with aptitude to study advanced Science, Technology, Engineering, and Math (STEM) programs.</p>

<p>By sponsoring Hackathons and building an active presence on college campuses, The Hackerati makes engineering fun and cool!</p>

<h2>Apprenticeship</h2>
<p>We then need do a better job preparing students to work in professional engineering roles by systematically providing them with opportunities to do so.

<p>In the same way that the great art studios of the Rennaissance paired younger artists with masters, The Hackerati pairs student engineers with seasoned professional hackers. In doing so, we provide students with not just a body of current technical knowledge, but a platform from which students can learn (or invent) technologies throughout their careers, a framework for solving complex problems, and a passion for doing so.</p>

<h2>Distribution</h2>
<p>Our unique business model of blending leading experts with experienced engineers and student apprentices allows us to deliver high-end Engineering as a Service, at a moderate price.</p>

<h2>360&deg; Benefits</h2>
<p>The Hackerati helps businesses address the shortage of engineering talent that they currently face, helps students pay for school and graduate with a year or more of professional engineering experience, and helps academic institutions grow revenue to further their mission of preparing the next generation of engineers for the workforce.</p>

{% endblock %}

{% block sidebar %}
<blockquote>
<p>And no, we don't know where it will lead. We just know there's something much bigger than any of us here.</p>
<small>Steve Jobs</small>
</blockquote>
{% endblock %}
