{% extends 'about_layout.html' %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<p>
The Hackerati, Inc.<br />
c/o The Cooper Union<br />
41 Cooper Square, FL2<br />
New York, NY 10003<br />
<a href="http://maps.google.com/maps?q=41+Cooper+Square,+FL2,+New+York,+NY+10003&hl=en&sll=40.728698,-73.99026&sspn=0.088849,0.139046&hq=41+Cooper+Square,+New+York,+NY+10003&radius=15000&t=m&z=13&iwloc=A" target="_blank">(map)</a>
</p>

<p>
Rebel Mouse: <a href="http://www.rebelmouse.com/TheHackerati/" target="_blank">TheHackerati</a><br />
<i class="icon-twitter"></i> Twitter: <a href="http://www.twitter.com/TheHackerati/team" target="_blank">@TheHackerati</a><br />
<i class="icon-github"></i> GitHub: <a href="https://github.com/thehackerati" target="_blank">github/thehackerati</a>
</p>

<p>
Sales:<br />
<i class="icon-phone"></i> (917) 426-1066<br />
<i class="icon-envelope"></i> <a href="mailto:sales@thehackerati.com">sales@thehackerati.com</a>
</p>
{% endblock %}

{% block sidebar %}
<img src="/static/img/thehackerati_vcard_qr.png" width="200" height="200" alt="Our VCARD"></img>
{% endblock %}
