{% extends 'about_layout.html' %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="row">
  <div class="span1">
  &nbsp;
  </div>
  <div class="span4">
<p>
The Hackerati, Inc.<br />
c/o The Cooper Union<br />
41 Cooper Square, FL2<br />
New York, NY 10003<br />
</p>

<p>
Rebel Mouse: <a href="http://www.rebelmouse.com/TheHackerati/" target="_blank">TheHackerati</a><br />
<i class="icon-twitter"></i> Twitter: <a href="http://www.twitter.com/TheHackerati/team" target="_blank">@TheHackerati</a><br />
<i class="icon-github"></i> GitHub: <a href="https://github.com/thehackerati" target="_blank">github/thehackerati</a>
</p>

<p>
Sales:<br />
<i class="icon-phone"></i> (917) 426-1066<br />
<i class="icon-envelope"></i> <a href="mailto:sales@thehackerati.com">sales@thehackerati.com</a>
</p>

  </div>
  <div class="span6">

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=41+Cooper+Square,+FL2,+New+York,+NY+10003&amp;hl=en&amp;sll=40.728698,-73.99026&amp;sspn=0.088849,0.139046&amp;hq=41+Cooper+Square,+New+York,+NY+10003&amp;radius=15000&amp;t=m&amp;ie=UTF8&amp;hnear=&amp;z=13&amp;iwloc=A&amp;cid=1466819463806006854&amp;ll=40.728698,-73.99026&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=41+Cooper+Square,+FL2,+New+York,+NY+10003&amp;hl=en&amp;sll=40.728698,-73.99026&amp;sspn=0.088849,0.139046&amp;hq=41+Cooper+Square,+New+York,+NY+10003&amp;radius=15000&amp;t=m&amp;ie=UTF8&amp;hnear=&amp;z=13&amp;iwloc=A&amp;cid=1466819463806006854&amp;ll=40.728698,-73.99026&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

  </div>
  <div class="span1">
  &nbsp;
  </div>
{% endblock %}

{% block sidebar %}
<blockquote>
<p>Stay reachable. Stay in touch. Don't isolate.</p>
<small>Michael Jordan</small>
</blockquote>
{% endblock %}
