{% extends 'innovation_layout.html' %}
{% block title %}Our Culture{% endblock %}

{% block content %}

<div class="centered_img">
  <img src="/static/img/answer_all_questions.jpg" alt="Answer All Questions" width="480" height="323" />
</div>

<div class="row">
<div class="span3">
  <h2>Pursue the truth</h2>
  <ul>
    <li>There's no such thing as a bad question except one you don't ask.</li>
    <li>There's no such thing as a bad idea except one you don't share.</li>
  </ul>
  <h2>Be authentic</h2>
  <ul>
    <li>This company is a reflection of all of us; make it reflect our best qualities.</li>
  </ul>
  <h2>Learn</h2>
  <ul>
    <li>Everyone has strengths and weaknesses.</li>
    <li>Teach what you know, learn what you don't know.</li>
  </ul>
</div>
<div class="span3">
  <h2>Invent the future</h2>
  <ul>
    <li>Take the long view.
    <li>Think big! Bigger!</li>
  </ul>
  <h2>Be Fast</h2>
  <ul>
    <li>Optimize cycle time.</li>
    <li>Fail faster... learn faster... innovate faster!</li>
  </ul>
  <h2>Be a hacker</h2>
  <ul>
    <li>Seek out tough problems, design innovative solutions, iterate and improve, always make new mistakes.</li>
  </ul>
  <h2>Have fun!</h2>
</div>
</div>
{% endblock %}

{% block sidebar %}
<blockquote>
<p>"It ain't what you don't know that gets you into trouble. It's what you know for sure that just ain't so."</p>
<small>Mark Twain</small>
</blockquote>
{% endblock %}
