{% extends 'engineering_layout.html' %}
{% block title %}Engineering{% endblock %}

{% block content %}
<div class="row">
  <div class="span6">
<p><strong>Engineering as a Service</strong> is our core competency at The Hackerati. We vector our teams of hackers to solve your most challenging engineering problems on a variable-cost basis, providing agility and value. We focus on <a href="/product">product development</a>, <a href="/research">researching new architectures and algorithms</a>, and <a href="/custom">custom engineering projects</a>. We bring <a href="/innovation">innovation</a>, <a href="/agility">agility</a>, and <a href="/value">value</a> to established companies and startups, alike.</p>

<p>Our technical capabilities span a broad cross-section of sophisticated engineering disciplines, including:</p>
  </div>
</div>

<div class="row">
  <div class="span3">
    <h3>Web Scale</h3>
    <ul>
      <li>Distributed Computing</li>
      <li>Node.js</li>
      <li>mongodb</li>
    </ul>
    <h3>Mobile</h3>
    <ul>
      <li>iOS</li>
      <li>Android</li>
      <li>Windows</li>
    </ul>
    <h3>Social</h3>
    <ul>
      <li>Twitter</li>
      <li>Facebook</li>
      <li>LinkedIn</li>
    </ul>
  </div>

  <div class="span3">
    <h3>Big Data</h3>
    <ul>
      <li>Predictive Analytics</li>
      <li>Natural Language Processing</li>
      <li>Machine Learning</li>
      <li>Artificial Intelligence</li>
      <li>Hadoop</li>
    </ul>
    <h3>Cloud</h3>
    <ul>
      <li>Amazon Web Services</li>
      <li>Google App Engine</li>
      <li>Cloud Foundry</li>
    </ul>
    <h3>Hardware</h3>
    <ul>
      <li>FPGA</li>
      <li>Signal Processing</li>
    </ul>
  </div>
</div>

{% endblock %}

{% block sidebar %}
<blockquote>
<p>"The significant problems we have cannot be solved at the same level of thinking with which we created them."</p>
<small>Albert Einstein</small>
</blockquote>
{% endblock %}
