{% extends 'base_template.html' %}
{% block title %}Welcome to The Hackerati!{% endblock %}

{% block layout %}
    <div class="container">
      <div class="hero-unit">
        <h1>Engineering as a Service</h1>
        <h2>the hack-er-a-ti</h2>
        <p><strong><i>plural noun</i></strong></p>
        <p>
        <ol>
          <li>persons possessing superior hacking abilities</li>
          <li>a world-class engineering firm delivering variable-cost <a href="/product">product development</a>, <a href="/research">research</a>, and other <a href="/custom">custom</a> software and hardware development.</li>
        </ol>
        </p>
        <a class="btn btn-primary btn-large" href="/engineering">Learn more &raquo;</a>
      </div>

      <div class="row">
        <div class="span12">
          <div class="social-buttons">
<a href="https://twitter.com/thehackerati" class="twitter-follow-button" data-show-count="true">Follow @thehackerati</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/FollowCompany" data-id="2639782" data-counter="right"></script>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span8">

          <div class="row">
            <div class="span4">
              <h2><a href="/engineering"><i class="icon-cogs"></i> Engineering</a></h2>
<p>We live for social and mobile apps, Big Data, analytics, natural language processing, artificial intelligence, and machine learning.</p>
            </div>
            <div class="span4">
              <h2><a href="/innovation"><i class="icon-beaker"></i> Innovation</a></h2>
<p>We're all <a href="/culture">hackers</a>! We love to solve problems, to improve things, and to invent stuff.</p>
            </div>
          </div>

        <div class="row">
              <div class="span4">
                <h2><a href="/agility"><i class="icon-bolt"></i> Agility</a></h2>
<p>With no long-term commitments, we allow your business to rapidly pivot within your budget and your timeframe.</p>
              </div>
              <div class="span4">
                <h2><a href="/value"><i class="icon-thumbs-up"></i> Value</a></h2>
<p>Our unique staffing model allows us to locally deliver high-end services at a moderate price.</p>
              </div>
          </div>

        </div>

        <div class="span4">
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'list',
  rpp: 30,
  interval: 30000,
  title: 'The Hackerati',
  subject: 'Status',
  width: 'auto',
  height: 150,
  theme: {
    shell: {
      background: '#eeeeee',
      color: '#333333'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#005496'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: true,
    behavior: 'all'
  }
}).render().setList('TheHackerati', 'team').start();
</script>
        </div>
      </div>

    </div> <!-- /container -->
{% endblock %}
