{% extends 'innovation_layout.html' %}
{% block title %}Innovation{% endblock %}

{% block content %}
<p>Innovation is part of The Hackerati DNA; so naturally, we foster a <a href="/culture">culture</a> that nurtures and inspires creativity. We actively encourage and support all of our employees to follow their imaginations, to pursue their entrepreneurial aspirations, and to contribute to their communities (both on <a href="http://github.com/thehackerati">Github</a> and in the real world).</p>

<p>While innovation is part of everything we do, we pay off the promise with several material programs:</p>

<h2>Hack Day</h2>

<p>Creative people need outlets for their ideas, and not all of those ideas are going to be related to the billable project on which they are working at the moment. We encourage all employees whose projects are in good standing to spend one day each week working on projects of their choice. Hack Day projects can be anything that the employee deems important and interesting enough to spend their time: contributing to an open source project, developing a new product idea, performing a community service activity.</p>

<h2>Hackathons</h2>

<p>We love hackathons! We hold several internal hackathons each year. It's a great way to have fun, test skills, find talent, and surface new ideas.</p>

<p>Some client projects might also benefit from the intense bursts of innovation that can come out of a public, sponsored hackathon. You set the rules and rewards, and we'll organize the event.</p>

<h2>The Hackerati Labs</h2>

<p>The Hackerati Labs is a portfolio of emerging businesses in which The Hackerati hold equity. Many of these businesses started as Hack Day projects or were born from hackathons.</p>

<p>In other cases, The Hackerati invests in emerging companies, by providing services to help build or scale their Minimum Viable Product in exchange for equity.</p>
{% endblock %}

{% block sidebar %}
<blockquote>
<p>We especially need imagination in science. It is not all mathematics, nor all logic, but it is somewhat beauty and poetry.</p>
<small>Maria Montessori</small>
</blockquote>
{% endblock %}
