{% extends 'base_template.html' %}

{% block layout %}
    <div class="container">
      <div class="hero-unit site-section-heading">
        <h2><i class="icon-beaker"></i> {% block title %}{% endblock %}</h2>

        <div class="quote">
          {% block sidebar %}{% endblock %}
        </div>

        <div class="btn-group">
          <a class="btn btn-primary btn-large" href="/innovation">Innovation &raquo;</a>
<!--
          <a class="btn btn-primary btn-large" href="/labs">Labs</a>
          <a class="btn btn-primary btn-large" href="/projects">Open Source</a>
-->
        </div>
      </div>

      <div class="row">
        <div class="span12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}
