{% extends 'innovation_layout.html' %}
{% block title %}Labs{% endblock %}

{% block content %}
Best incubator ideas will grow into independent companies that will eventually achieve liquidity

<h2>Target companies that need to bring new technical products to market</h2>
Hard to hire enough talented engineers
Time to market
Initial design and development capacity needs often higher than ongoing operation
<h2>Examples</h2>
Media
Established software publishers
Electronics manufacturers
Funded startups (MVP -> Full scale product)

<h2>Offer</h2>
Variable cost, outsourced product development
<h2>Benefits</h2>
Rapidly bring new products to market
No capital investment or fixed costs
We continuously demonstrate value in terms that our clients define, so risk of ongoing product development efforts that never produce results is extremely contained
Compelling alternative to paying a premium to acquire and integrate another company 

{% endblock %}

{% block sidebar %}
<blockquote>
<p>"We especially need imagination in science. It is not all mathematics, nor all logic, but it is somewhat beauty and poetry."</p>
<small>Maria Montessori</small>
</blockquote>
{% endblock %}
