{% extends 'about_layout.html' %}
{% block title %}Leadership{% endblock %}

{% block content %}
<div class="row">
  <div class="span6">
<p>Our leaders are passionate hackers and seasoned business executives. </p>
</div>
</div>

<div class="row">
  <div class="span2">
<img src="/static/img/geoff.jpg" width="140" height="210" /><br /><br />
<i class="icon-linkedin"></i> <a href="http://linkedin.com/in/geoffscott" target="_blank">geoffscott</a><br />
<i class="icon-twitter"></i> <a href="http://www.twitter.com/geoffscott" target="_blank">@geoffscott</a><br />
<i class="icon-github"></i> <a href="https://github.com/geoffscott" target="_blank">geoffscott</a><br />
<a href="mailto:geoff@thehackerati.com">geoff@thehackerati.com</a>
  </div>
  <div class="span4">
<h3>Geoff Scott, Partner, Co-founder</h3>
<p>Geoff specializes in leading technology teams for startups, turnarounds, and other organizations that are going through extended periods of intense growth and change. He has been building winning technology products, businesses, and companies for over 22 years.</p>

<p>Focusing on developing platforms that leverage data and algorithms to target information delivery, Geoff has worked in a variety of industries including online advertising, education, direct marketing, media, and publishing, at companies like DoubleClick, The Princeton Review, Donnelley Marketing, and CBS. Geoff began his career in Silicon Valley, co-founding an Internet Service Provider in 1994 and doing pioneering work in the fields of e-commerce, e-business, and ASP solutions.</p>

<p>Geoff currently hacks in Python, Django, Node.js, mongodb, and a litte bit of Scala, while keeping his head in the clouds with Cloud Foundry and Google App engine.</p>

  </div>
</div>

<div class="row">
  <div class="span2">
<i class="icon-linkedin"></i> <a href="http://linkedin.com/in/robmarano" target="_blank">robmarano</a><br />
<i class="icon-twitter"></i> <a href="http://www.twitter.com/robmarano" target="_blank">@robmarano</a><br />
<i class="icon-github"></i> <a href="https://github.com/robmarano" target="_blank">robmarano</a><br />
<a href="mailto:rob@thehackerati.com">rob@thehackerati.com</a>
  </div>
  <div class="span4">
<h3>Rob Marano, Partner, Co-founder</h3>
<p>Rob has more than 20 years of technology, sales, marketing and general management experience in the software and telecommunications fields and has held senior executive positions with both startups and large international companies.</p>

<p>A serial entrepreneur, Rob founded InDorse Technologies and Falkin Systems LLC. He was director of emerging software technologies at PricewaterhouseCoopers' (PwC) Global Technology Centres. He also held leadership roles for several successful startups, including Micromuse (IBM), RiverSoft (IBM), Voyence (EMC), and Micromuse. And he actually <i>was</i> a rocket scientist at Lockheed Martin's Advanced Technology Labs, as well as at GE AstroSpace.</p>

<p>Rob currently hacks in Java, Python, Node.js, Hadoop, Mahout, and HBase. And in his spare time, he hacks hardware using FPGA's and logic gates.</p>
  </div>
</div>
{% endblock %}

{% block sidebar %}
<blockquote>
<p>"The secret of leadership is simple: Do what you believe in. Paint a picture of the future. Go there. People will follow."</p>
<small>Seth Godin</small>
</blockquote>
{% endblock %}
