{% extends 'value_layout.html' %}
{% block title %}Measurement{% endblock %}

{% block content %}
<h2>Beginning Each Sprint</h2>
At the beginning of each sprint, we hold a jam session and determine which stories to work on in the sprint. You determine the value of each story, and we jointly decide which stories to include in the sprint. We commit to what we can deliver during the sprint.

<h2>Ending Each Sprint</h2>
At the end of each sprint, we hold another jam session in which we measure the value added during the sprint. We use both objective measures (e.g. did we meet our commitment?) as well as subjective measures (e.g. is it "Good?").
{% endblock %}

{% block sidebar %}
<blockquote>
<p>"Quality in a product or service is not what the supplier puts in. It is what the customer gets out and is willing to pay for."</p>
<small>Peter Drucker</small>
<blockquote>
{% endblock %}
