{% extends 'agility_layout.html' %}
{% block title %}Methodology{% endblock %}

{% block content %}
<p>At The Hackerati, methodology is a tool for managing the common setbacks and hang-ups that would otherwise derail even the most talented engineering team. At the same time, the way we do things is a reflection of our <a href="/culture">culture</a>: passionate, fast, and fun!</p>

<p>Like a lot of engineering shops, we use Scrum, so our practices should be very familiar to many. However, since so many engineering projects are challenged by poor communications, it is worthwhile to highlight several of our unique practices for fostering consistently great communications and collaboration.

<h3>The Jam Session</h3>
<p>Jam sessions are frequent, regularly scheduled sessions to evaluate what we've done and decide what to do next. Sprint planning meetings are one form of jam session. We also use jam sessions for regular client checkpoint meetings, where we make sure that we are adding <a href="/value">value</a> and moving in the right direction.</p>

<h3>The Huddle</h3>
<p>Huddles are short, daily jam sessions focus on immediate activities and roadblocks (a.k.a daily standup or daily scrum). We huddle up at least once a day, or more often if needed.</p>

<h3>The Wall</h3>
<p>The wall is an online collaboration system for capturing information that the whole team can share. We use it to capture, debate, and refine ideas, plans, tasks, and decisions.</p>

<h3>The Hangout</h3>
<p>Hangouts are open video chat rooms that we can use to just drop in on each other, like we would if we worked in the same office.</p>

<h3>The Launch Party</h3>
<p>Every major milestone deserves a celebration. We call these launch parties!</p>
{% endblock %}

{% block sidebar %}
<blockquote>
<p>"Gumption is the psychic gasoline that keeps the whole thing going. If you haven’t got it, there’s no way the motorcycle can possibly be fixed. But if you have got it and know how to keep it, there’s absolutely no way in this whole world that motorcycle can keep from getting fixed."</p>
<small>Robert M. Pirsig</small>
</blockquote>
{% endblock %}
