{% extends 'agility_layout.html' %}
{% block title %}Team{% endblock %}

{% block content %}
<p>Our project teams have a singular purpose: to deliver extreme value to our clients. Teams are flat organizations, built for speed and agility.</p>

<h3>Partner</h3>
<p>The partner's job is to keep the team focused on solving the right problem, to ensure that value is being continuously added, and to maximize the team's delivery speed and quality. This is largely an exercise in nurturing the development of effective habits. Every project is overseen by a partner.</p>

<h3>Solution Architect</h3>
<p>Solution architects are experts in the technical domain of the project, whose job is to provide the team with broad and deep subject matter expertise and guidelines to maintain optimal progress. Our architects have backgrounds in advanced engineering disciplines like signal processing, natural language processing, machine learning, artificial intelligence, algorithmic trading, mobile, social, security, and Web performance.</p>

<h3>Engineer</h3>
<p>Engineers are extrordinary technical problem solvers who have also mastered several programming languages. All have delivered advanced production code and all have had course work in sophisticated subjects like signal processing, natural language processing, machine learning, artificial intelligence, security. Many started with us as apprentices and all have the potential to become solution architects.</p>

<h3>Apprentice</h3>
<p>Apprentices are full-time students in top engineering programs who have demonstrated both their ability to solve tough technical problems and an unquenchable thirst for learning what they need to know to deliver great solutions. Apprentices are paired with more experienced engineers and work with us on a part-time basis, while they attend school full-time.</p>
{% endblock %}

{% block sidebar %}
<blockquote>
<p>"Quality is not an act. It is a habit."</p>
<small>Aristotle</small>
</blockquote>
{% endblock %}
