{% extends 'value_layout.html' %}
{% block title %}Value{% endblock %}

{% block content %}
<p>Our unique business model of blending leading experts with experienced engineers and student interns allows us to deliver high-end services at a moderate price, helping businesses address the shortage of engineering talent that they currently face, helping students pay for school and graduate with a year or more of professional engineering experience, and helping academic institutions grow revenue to further their mission of preparing the next generation of engineers for the workforce.</p>

<h2>Business Arrangements</h2>
Our standard business arrangements are based on the following components.

<h2>Engineering as a Service</h2>
<ul>
  <li>No Long Term Commitments</li>
  <li>Monthly performance <a href="/measurement">measurement</a></li>
  <li>Ramp up/down with 30 days notice</li>
</ul>

<h2>Work For Hire</h2>
<ul>
  <li>You own everything that we produce on your behalf</li>
</ul>

<h2>Option to Hire Students for Fee</h2>
<ul>
  <li>10% of starting annual salary after six months</li>
  <li>Only after graduation</li>
</ul>

<h2>Time & Materials</h2>
<ul>
  <li>Competitive, blended, hourly rate</li>
  <li>Ask about discounts when deliverables are contributed to open source projects</li>
</ul>
{% endblock %}

{% block sidebar %}
<blockquote>
<p>"Quality in a product or service is not what the supplier puts in. It is what the customer gets out and is willing to pay for."</p>
<small>Peter Drucker</small>
<blockquote>
{% endblock %}
