{% extends 'base_template.html' %}

{% block layout %}
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><a href="/value">Value</a></li>
              <li><a href="/measurement">Measurement</a></li>
            </ul>
          </div>
        </div>
        <div class="span6">
          <h1><i class="icon-thumbs-up"></i> {% block title %}{% endblock %}</h1>
          {% block content %}{% endblock %}
        </div>
        <div class="span3">
          {% block sidebar %}{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}
